################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/obj/Debug
/Test/Visualiser/bin
/Test/Visualiser/obj/Debug
/Test/Visualiser/obj
/Visualiser/bin
/Visualiser/obj
/.vs/Test/v15
/packages
